.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizotal-spacer);
    background-color: var(--white);
}

.logo {
}

//actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    display: block;
    font-size: 22px;
    cursor: pointer;
    padding: 4px 12px;
    border: none;
    background-color: transparent;
    position: relative;
}

.action-notice {
    position: absolute;
    background-color: var(--primary);
    color: var(--white);
    padding: 1px 5px;
    border-radius: 50%;
    border: 2px solid;
    font-size: 1.2rem;
    top: 2px;
    right: 5px;
}

.user-avatar {
    margin-left: 12px;
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    object-fit: cover;
}

.more-btn {
    font-size: 1.8rem;
    padding-left: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
