.wrapper {
}

.menu-item {
    display: flex;
    height: 48px;
    align-items: center;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black);
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--primary);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.nav-title {
    margin-left: 10px;
}
